#
# SPDX-FileCopyrightText: 2024 Georg Kunz <der.schorsch@gmail.com>
# SPDX-License-Identifier: MIT
#
name: Run unit tests

on:
  pull_request: null

permissions: read-all

jobs:
  tests:
    permissions:
      contents: read
      packages: read
      statuses: write

    name: Run tests
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: python3 -m pip install .
    - name: Run unit tests
      run: |
        pushd tests
        python3 unit_tests.py
